# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin/

# Test binary
*.test

.DS_Store

# Output directory
/out/

# Dependency directories
vendor/

# IDE specific
.idea/
.vscode/
*.swp

# Go workspace file
go.work

# Environment files
.env

# Security
certs/